body {
    background-color: #fdfdfd;
}
.card {
    border: none;
    border-radius: 15px;
}
thead th {
    text-align: center;
}
td, th {
    vertical-align: middle;
    text-align: center;
}
footer {
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}
